html
    head
        title Maze Service - Page Not Found
    body
        h3 URL: #{endpoint}
        hr
        p The page you requested could not be found.  Please try again.
        p Sample URLs: 
            ul  
                li 
                    a(href=sampleList) #{sampleList}
                li 
                    a(href=sampleGet) #{sampleGet}
                li
                    a(href=sampleView) #{sampleView}
