doctype html
html(lang="en")
    include head.pug
    br
    div(class='container text-center')
        h1 Maze Service - #{title}
        br
        table(class='table table-striped table-dark table-hover' style='color:antiquewhite')
            th(scope='col') Link
            th(scope='col') Action
            th(scope='col') Type
            th(scope='col') Arguments
            th(scope='col') Return
            th(scope='col') Method
            th(scope='col') Status
            th(scope='col') Description
            tr
                td(class='td-left')
                    a(href=sampleGet) Get Maze
                td Get
                td Get
                td JSON 
                td(class='td-left') MazeId - height:width:seed
                td(class='td-left') Maze
                td Current
                td(class='td-left') Returns the first maze with the matching MazeID
            tr
                td(class='td-left')
                    a(href=sampleGetAll) Get Mazes
                td Get
                td Get All
                td JSON
                td(class='td-left') N/A
                td(class='td-left') Array (Maze Info)
                td Current
                td(class='td-left') Returns key data for all existing mazes
            tr
                td(class='td-left')
                    a(href=sampleGenerate) Generate Maze
                td Get
                td Generate
                td JSON
                td(class='td-left') Parameters - /height/width/seed <br><br><i>[New Option] MazeID format: /height:width:seed</i>
                td(class='td-left') New Maze
                td Current
                td(class='td-left') Generates, stores, and returns a new maze object
            tr
                td(class='td-left')
                    a(href=sampleDelete) Delete Maze
                td Get
                td Delete
                td JSON
                td(class='td-left') MazeId - height:width:seed
                td(class='td-left') Result
                td Current
                td(class='td-left') Deletes a single maze document
            tr
                td(class='td-left')
                    a(href=sampleList) List Mazes
                td Get
                td List
                td HTML
                td(class='td-left') N/A
                td(class='td-left') HTML Page
                td Current
                td(class='td-left') Lists all mazes w/ handy function links
            tr
                td(class='td-left')
                    a(href=sampleView) View Maze
                td Get
                td View
                td HTML
                td(class='td-left') MazeId - height:width:seed
                td(class='td-left') HTML Page
                td Current
                td(class='td-left') Simple view of a maze w/ text-based rendering.
    include foot.pug