html
    head
        title Maze Service - Page Not Found
    body
        h3 Invalid Path
        hr
        p The page you requested could not be found.  Please try again.
        p Sample Links: 
            ul  
                li
                    a(href=sampleGet) #{sampleGet}
                li
                    a(href=sampleGenerate) #{sampleGenerate}
                li
                    a(href=sampleDelete) #{sampleDelete}
                li
                    a(href=sampleView) #{sampleView}
                li 
                    a(href=sampleList) #{sampleList}
